 .u-section-1 {
  min-height: 709px;
}

.u-section-1 .u-image-1 {
  width: 152px;
  height: 152px;
  margin: 0 auto 0 calc(((100% - 1140px) / 2) + -38px);
}

.u-section-1 .u-list-1 {
  width: calc(((100% - 1140px) / 2) + 229px);
  margin: -152px 0 0 auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 10px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  background-image: none;
  font-size: 2.3126em;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 10px;
}

.u-section-1 .u-text-2 {
  margin: 0 auto;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  font-size: 2.3126em;
  margin-top: -13px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 10px;
}

.u-section-1 .u-text-3 {
  margin: 0 auto;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-icon-3 {
  margin-top: 1px;
  font-size: 2.3126em;
}

.u-section-1 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 3rem;
  margin: -52px auto 0 calc(((100% - 1140px) / 2) + 309px);
}

.u-section-1 .u-list-2 {
  width: 100px;
  margin: 13px auto 0 calc(((100% - 1140px) / 2) + -29px);
}

.u-section-1 .u-repeater-2 {
  min-height: 216px;
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px;
}

.u-section-1 .u-btn-4 {
  font-size: 1.25rem;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px;
}

.u-section-1 .u-btn-5 {
  font-size: 1.25rem;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px;
}

.u-section-1 .u-btn-6 {
  font-size: 1.25rem;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 10px;
}

.u-section-1 .u-btn-7 {
  font-size: 1.25rem;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-form-1 {
  width: 450px;
  margin-left: calc(((100% - 1140px) / 2) + 730px);
  margin-top: -169px;
  margin-bottom: 57px;
  height: 483px;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-btn-8 {
  border-style: solid;
  padding: 10px 22px 10px 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2) + -38px);
  }

  .u-section-1 .u-list-1 {
    width: calc(((100% - 940px) / 2) + 229px);
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -40px;
    margin-left: auto;
  }

  .u-section-1 .u-list-2 {
    margin-top: 1px;
    margin-left: calc(((100% - 940px) / 2) + -29px);
  }

  .u-section-1 .u-form-1 {
    margin-left: calc(((100% - 940px) / 2) + 490px);
  }

  .u-section-1 .u-form-group-2 {
    opacity: 0.2;
  }

  .u-section-1 .u-form-group-3 {
    opacity: 0.2;
  }

  .u-section-1 .u-form-group-4 {
    opacity: 0.2;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    width: 15px;
    height: 15px;
    margin-top: 4px;
    margin-left: 0;
  }

  .u-section-1 .u-list-1 {
    width: 279px;
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 109px;
    grid-auto-columns: 33.3333%;
  }

  .u-section-1 .u-text-4 {
    margin-top: -23px;
  }

  .u-section-1 .u-list-2 {
    margin-top: -138px;
    margin-left: calc(((100% - 720px) / 2) + -43px);
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-form-1 {
    height: 482px;
    margin: -22px auto 33px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-icon-1 {
    font-size: 1.3126em;
  }

  .u-section-1 .u-icon-2 {
    font-size: 1.3126em;
  }

  .u-section-1 .u-icon-3 {
    font-size: 1.3126em;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.875rem;
    margin-top: 4px;
  }

  .u-section-1 .u-list-2 {
    margin-top: -146px;
    margin-left: calc(((100% - 540px) / 2) + -43px);
  }

  .u-section-1 .u-form-1 {
    margin-top: 25px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1015px;
  }

  .u-section-1 .u-list-1 {
    width: 418px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: auto;
    margin-left: auto;
    display: block;
  }

  .u-section-1 .u-text-4 {
    margin-top: 11px;
  }

  .u-section-1 .u-list-2 {
    margin-top: -273px;
    margin-left: calc(((100% - 340px) / 2) + -43px);
  }

  .u-section-1 .u-form-1 {
    width: 340px;
    height: 659px;
    margin-bottom: 60px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto 0 80px;
}

.u-section-2 .u-table-1 {
  width: 1038px;
  margin: 1px 22px 60px auto;
}

.u-section-2 .u-table-header-1 {
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-2 .u-table-1 {
    width: 940px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-2 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-table-1 {
    width: 340px;
  }
}