 .u-section-1 {
  min-height: 1393px;
}

.u-section-1 .u-list-1 {
  width: 194px;
  margin: 0 auto 0 1046px;
}

.u-section-1 .u-repeater-1 {
  min-height: 119px;
  grid-template-columns: 50% 50%;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 10px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  background-image: none;
  font-size: 2.3126em;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 10px;
}

.u-section-1 .u-text-2 {
  margin: 0 auto;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  background-image: none;
  font-size: 2.3126em;
}

.u-section-1 .u-image-1 {
  width: 152px;
  height: 152px;
  margin: -119px auto 0 0;
}

.u-section-1 .u-list-2 {
  width: 120px;
  height: auto;
  margin: -7px auto 0 0;
}

.u-section-1 .u-repeater-2 {
  min-height: 216px;
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-btn-3 {
  font-size: 1.25rem;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px;
}

.u-section-1 .u-btn-4 {
  font-size: 1.25rem;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px;
}

.u-section-1 .u-btn-5 {
  font-size: 1.25rem;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px;
}

.u-section-1 .u-btn-6 {
  font-size: 1.25rem;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-text-3 {
  margin: -342px auto 0 291px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 235px auto 0;
}

.u-section-1 .u-form-1 {
  height: 631px;
  margin-top: 35px;
  margin-bottom: 0;
  margin-left: calc(((100% - 1140px) / 2));
  width: 522px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 85px 98px 35px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1510px;
  }

  .u-section-1 .u-list-1 {
    width: calc(((100% - 940px) / 2) + 144px);
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 87px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: -87px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -274px;
    margin-right: 172px;
    margin-left: calc(((100% - 940px) / 2) + 161px);
  }

  .u-section-1 .u-text-4 {
    margin-top: 167px;
  }

  .u-section-1 .u-form-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-5 {
    margin-right: 347px;
    margin-left: calc(((100% - 940px) / 2) + 336px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1656px;
  }

  .u-section-1 .u-list-1 {
    width: 388px;
    margin-right: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 50%;
  }

  .u-section-1 .u-text-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-list-2 {
    width: calc(((100% - 720px) / 2) + 70px);
    margin-top: -84px;
  }

  .u-section-1 .u-text-3 {
    width: 442px;
    margin-top: -128px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: 98px;
  }

  .u-section-1 .u-form-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-5 {
    margin-right: 266px;
    margin-left: calc(((100% - 720px) / 2) + 257px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1734px;
  }

  .u-section-1 .u-list-2 {
    width: calc(((100% - 540px) / 2) + 70px);
    margin-top: -87px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -123px;
    margin-right: calc(((100% - 540px) / 2) + 28px);
    margin-left: calc(((100% - 540px) / 2) + 70px);
  }

  .u-section-1 .u-text-4 {
    margin-top: 96px;
  }

  .u-section-1 .u-form-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-5 {
    margin-right: 200px;
    margin-left: calc(((100% - 540px) / 2) + 193px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: 170px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-list-2 {
    width: calc(((100% - 340px) / 2) + 62px);
  }

  .u-section-1 .u-repeater-2 {
    min-height: 141px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 1px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 1px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 1px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 1px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
    margin-top: 11px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: 143px;
  }

  .u-section-1 .u-form-1 {
    margin-left: calc(((100% - 340px) / 2));
    width: 340px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 126px;
    margin-left: calc(((100% - 340px) / 2) + 122px);
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1105px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 19px auto 0;
}

.u-section-2 .u-form-1 {
  height: 723px;
  margin: 0 599px 60px 19px;
}

.u-section-2 .u-form-group-3 {
  margin-left: 0;
}

.u-section-2 .u-form-group-5 {
  margin-left: 0;
}

.u-section-2 .u-form-group-6 {
  margin-left: 0;
}

.u-section-2 .u-form-group-8 {
  margin-left: 0;
}

.u-section-2 .u-form-group-9 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-form-1 {
    height: 1545px;
    margin-right: 226px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-form-1 {
    margin-right: 6px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-form-1 {
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 684px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 19px auto 0;
}

.u-section-3 .u-form-1 {
  height: 445px;
  margin: 58px 631px 0 10px;
}

.u-section-3 .u-form-group-3 {
  margin-left: 0;
}

.u-section-3 .u-form-2 {
  height: 415px;
  margin: -437px 42px 22px 509px;
}

.u-section-3 .u-form-group-6 {
  margin-left: 0;
}

.u-section-3 .u-form-group-7 {
  margin-left: 0;
}

.u-section-3 .u-form-group-8 {
  margin-left: 0;
}

.u-section-3 .u-form-group-9 {
  margin-left: 0;
}

.u-section-3 .u-form-group-10 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-form-1 {
    margin-right: 440px;
    margin-left: 0;
  }

  .u-section-3 .u-form-2 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 351px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-form-1 {
    margin-right: 220px;
  }

  .u-section-3 .u-form-2 {
    margin-left: 131px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-form-1 {
    margin-right: 40px;
  }

  .u-section-3 .u-form-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-form-1 {
    margin-right: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 894px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 40px auto 0;
}

.u-section-4 .u-form-1 {
  height: 815px;
  margin-top: 40px;
  margin-bottom: 54px;
  margin-left: 0;
  width: 522px;
}

.u-section-4 .u-form-group-4 {
  margin-left: 0;
}

.u-section-4 .u-form-group-6 {
  margin-left: 0;
}

.u-section-4 .u-form-group-7 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-form-1 {
    margin-right: 418px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-form-1 {
    margin-right: 198px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-form-1 {
    margin-right: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-top: -287px;
  }

  .u-section-4 .u-form-1 {
    width: 340px;
    margin-right: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 531px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-5 .u-form-1 {
  height: 492px;
  margin: 28px 615px 0 0;
}

.u-section-5 .u-form-group-2 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-form-1 {
    margin-right: 415px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-form-1 {
    margin-right: 195px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-form-1 {
    margin-right: 15px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-form-1 {
    margin-right: 0;
  }
}