 .u-section-1 {
  min-height: 1255px;
}

.u-section-1 .u-list-1 {
  width: 194px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-repeater-1 {
  min-height: 119px;
  grid-template-columns: 50% 50%;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 10px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: 8px auto 0;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  background-image: none;
  font-size: 2.3126em;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 10px;
}

.u-section-1 .u-text-2 {
  margin: 0 auto;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  margin: 8px auto 0;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  background-image: none;
  font-size: 2.3126em;
}

.u-section-1 .u-image-1 {
  width: 152px;
  height: 152px;
  margin: -119px auto 0 calc(((100% - 1140px) / 2) + -22px);
}

.u-section-1 .u-list-2 {
  width: 120px;
  margin: -4px auto 0 calc(((100% - 1140px) / 2) + -31px);
}

.u-section-1 .u-repeater-2 {
  min-height: 216px;
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-btn-3 {
  font-size: 1.25rem;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px;
}

.u-section-1 .u-btn-4 {
  font-size: 1.25rem;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px;
}

.u-section-1 .u-btn-5 {
  font-size: 1.25rem;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px;
}

.u-section-1 .u-btn-6 {
  font-size: 1.25rem;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-text-3 {
  margin: -330px auto 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 248px auto 0;
}

.u-section-1 .u-form-1 {
  height: 631px;
  margin-top: 8px;
  margin-bottom: 60px;
  margin-left: calc(((100% - 1140px) / 2));
  width: 522px;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2) + -27px);
  }

  .u-section-1 .u-list-2 {
    margin-top: 1px;
    margin-left: calc(((100% - 940px) / 2) + -19px);
  }

  .u-section-1 .u-container-layout-3 {
    padding: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: -5px;
    margin-right: -5px;
  }

  .u-section-1 .u-container-layout-4 {
    padding: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: -5px;
    margin-right: -5px;
  }

  .u-section-1 .u-container-layout-5 {
    padding: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-left: -5px;
    margin-right: -5px;
  }

  .u-section-1 .u-container-layout-6 {
    padding: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-left: -5px;
    margin-right: -5px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -250px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 197px;
  }

  .u-section-1 .u-form-1 {
    height: 815px;
    margin-top: 13px;
    margin-bottom: 20px;
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1175px;
  }

  .u-section-1 .u-list-1 {
    width: 284px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 93px;
    grid-auto-columns: 50%;
  }

  .u-section-1 .u-image-1 {
    margin-top: -305px;
    margin-left: calc(((100% - 720px) / 2) + -27px);
  }

  .u-section-1 .u-list-2 {
    height: auto;
    margin-left: calc(((100% - 720px) / 2) + -19px);
  }

  .u-section-1 .u-text-3 {
    margin-top: 44px;
    margin-left: 81px;
    margin-right: 81px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 44px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 44px;
    margin-bottom: 44px;
    margin-left: calc(((100% - 720px) / 2) + 29px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1211px;
  }

  .u-section-1 .u-list-1 {
    width: 259px;
    margin-top: -7px;
    margin-right: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 95px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -299px;
    margin-left: calc(((100% - 540px) / 2) + -27px);
  }

  .u-section-1 .u-list-2 {
    margin-left: calc(((100% - 540px) / 2) + -19px);
  }

  .u-section-1 .u-text-3 {
    margin-top: 53px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 40px;
  }

  .u-section-1 .u-form-1 {
    margin: 32px auto 40px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1122px;
  }

  .u-section-1 .u-list-1 {
    width: 218px;
    margin-top: 1px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 93px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -306px;
    margin-left: calc(((100% - 340px) / 2) + -19px);
  }

  .u-section-1 .u-list-2 {
    margin-top: -504px;
    margin-left: calc(((100% - 340px) / 2) + -19px);
  }

  .u-section-1 .u-text-3 {
    margin-top: 27px;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: 50px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
    margin-top: 50px;
    margin-bottom: 27px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 422px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 19px auto 0;
}

.u-section-2 .u-form-1 {
  height: 349px;
  margin: 58px 618px 45px 0;
}

.u-section-2 .u-form-group-1 {
  margin-left: 0;
}

.u-section-2 .u-form-group-2 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-form-1 {
    margin-right: 418px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-form-1 {
    margin-right: 198px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-form-1 {
    margin-right: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-form-1 {
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 683px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 19px auto 0;
}

.u-section-3 .u-form-1 {
  height: 445px;
  margin: 58px 618px 60px 0;
}

.u-section-3 .u-form-group-4 {
  margin-left: 0;
}

.u-section-3 .u-form-group-5 {
  margin-left: 0;
}

.u-section-3 .u-form-group-6 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-form-1 {
    margin-right: 418px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-form-1 {
    margin-right: 198px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-form-1 {
    margin-right: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-form-1 {
    margin-right: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 683px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 19px auto 0;
}

.u-section-4 .u-form-1 {
  height: 905px;
  margin: 58px 618px 30px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-form-1 {
    margin-right: 418px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-form-1 {
    margin-right: 198px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-form-1 {
    margin-right: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-form-1 {
    margin-right: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 683px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 19px auto 0;
}

.u-section-5 .u-form-1 {
  height: 905px;
  margin: 58px 618px 30px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-form-1 {
    margin-right: 418px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-form-1 {
    margin-right: 198px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-form-1 {
    margin-right: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-form-1 {
    margin-right: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 684px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 19px auto 0;
}

.u-section-6 .u-form-1 {
  height: 445px;
  margin: 58px 631px 0 10px;
}

.u-section-6 .u-form-group-3 {
  margin-left: 0;
}

.u-section-6 .u-form-2 {
  height: 415px;
  margin: -437px 42px 22px 509px;
}

.u-section-6 .u-form-group-6 {
  margin-left: 0;
}

.u-section-6 .u-form-group-7 {
  margin-left: 0;
}

.u-section-6 .u-form-group-8 {
  margin-left: 0;
}

.u-section-6 .u-form-group-9 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-form-1 {
    margin-right: 440px;
    margin-left: 0;
  }

  .u-section-6 .u-form-2 {
    margin-top: 20px;
    margin-right: 351px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-form-1 {
    margin-right: 220px;
  }

  .u-section-6 .u-form-2 {
    margin-right: 131px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-form-1 {
    margin-right: 40px;
  }

  .u-section-6 .u-form-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-form-1 {
    margin-right: 0;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 959px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: 19px auto 0;
}

.u-section-7 .u-form-1 {
  height: 813px;
  margin: 58px 618px 30px 0;
}

.u-section-7 .u-form-group-1 {
  margin-left: 0;
}

.u-section-7 .u-form-group-2 {
  margin-left: 0;
}

.u-section-7 .u-form-group-3 {
  margin-left: 0;
}

.u-section-7 .u-form-group-4 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-form-1 {
    margin-right: 418px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-form-1 {
    margin-right: 198px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-form-1 {
    margin-right: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-form-1 {
    margin-right: 0;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 683px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  margin: 19px auto 0;
}

.u-section-8 .u-form-1 {
  height: 905px;
  margin: 58px 618px 30px 0;
}

.u-section-8 .u-form-group-1 {
  margin-left: 0;
}

.u-section-8 .u-form-group-2 {
  margin-left: 0;
}

.u-section-8 .u-form-group-3 {
  margin-left: 0;
}

.u-section-8 .u-form-group-4 {
  margin-left: 0;
}

.u-section-8 .u-form-group-5 {
  margin-left: 0;
}

.u-section-8 .u-form-group-6 {
  margin-left: 0;
}

.u-section-8 .u-form-group-8 {
  margin-left: 0;
}

.u-section-8 .u-form-group-9 {
  margin-left: 0;
}

.u-section-8 .u-form-group-10 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-form-1 {
    margin-right: 418px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-form-1 {
    margin-right: 198px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-form-1 {
    margin-right: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-form-1 {
    margin-right: 0;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 683px;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  margin: 19px auto 0;
}

.u-section-9 .u-form-1 {
  height: 905px;
  margin: 58px 618px 30px 0;
}

.u-section-9 .u-form-group-1 {
  margin-left: 0;
}

.u-section-9 .u-form-group-2 {
  margin-left: 0;
}

.u-section-9 .u-form-group-3 {
  margin-left: 0;
}

.u-section-9 .u-form-group-4 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-form-1 {
    margin-right: 418px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-form-1 {
    margin-right: 198px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-form-1 {
    margin-right: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-form-1 {
    margin-right: 0;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 683px;
}

.u-section-10 .u-text-1 {
  font-weight: 700;
  margin: 19px auto 0;
}

.u-section-10 .u-form-1 {
  height: 905px;
  margin: 58px 618px 0 0;
}

.u-section-10 .u-form-group-1 {
  margin-left: 0;
}

.u-section-10 .u-form-group-2 {
  margin-left: 0;
}

.u-section-10 .u-text-2 {
  font-weight: 700;
  margin: -11px auto 60px 19px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-form-1 {
    margin-right: 418px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-form-1 {
    margin-right: 198px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-form-1 {
    margin-right: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-form-1 {
    margin-right: 0;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 683px;
}

.u-section-11 .u-text-1 {
  font-weight: 700;
  margin: 19px auto 0;
}

.u-section-11 .u-form-1 {
  height: 905px;
  margin: 58px 618px 30px 0;
}

.u-section-11 .u-form-group-1 {
  margin-left: 0;
}

.u-section-11 .u-form-group-2 {
  margin-left: 0;
}

.u-section-11 .u-form-group-3 {
  margin-left: 0;
}

.u-section-11 .u-form-group-4 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-11 .u-form-1 {
    margin-right: 418px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-form-1 {
    margin-right: 198px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-form-1 {
    margin-right: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-form-1 {
    margin-right: 0;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 572px;
}

.u-section-12 .u-form-1 {
  height: 492px;
  margin: 80px 570px 0 0;
}

.u-section-12 .u-form-group-3 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-12 .u-form-1 {
    width: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-form-1 {
    margin-right: 350px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-form-1 {
    margin-right: 170px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-form-1 {
    width: 340px;
    margin-right: 0;
  }
}