 .u-section-1 {
   min-height: 478px;
 }

 .u-section-1 .u-list-1 {
   width: 279px;
   margin: 1px 0 0 auto;
 }

 .u-section-1 .u-repeater-1 {
   min-height: 95px;
   grid-template-columns: 33.3333% 33.3333% 33.3333%;
   grid-gap: 0px 0px;
 }

 .u-section-1 .u-container-layout-1 {
   padding: 0;
 }

 .u-section-1 .u-text-1 {
   margin: 0 auto;
 }

 .u-section-1 .u-btn-1 {
   background-image: none;
   padding: 0;
 }

 .u-section-1 .u-icon-1 {
   background-image: none;
   font-size: 2.3126em;
 }

 .u-section-1 .u-container-layout-2 {
   padding: 0;
 }

 .u-section-1 .u-text-2 {
   margin: 0 auto;
 }

 .u-section-1 .u-btn-2 {
   background-image: none;
   padding: 0;
 }

 .u-section-1 .u-icon-2 {
   font-size: 2.3126em;
   margin-top: -13px;
 }

 .u-section-1 .u-container-layout-3 {
   padding: 0;
 }

 .u-section-1 .u-text-3 {
   margin: 25px auto 0;
 }

 .u-section-1 .u-btn-3 {
   background-image: none;
   margin: -19px auto 0;
   padding: 0;
 }

 .u-section-1 .u-icon-4 {
   margin-top: 1px;
   font-size: 2.3126em;
 }

 .u-section-1 .u-list-2 {
   width: 187px;
   margin: -16px 0 0 auto;
 }

 .u-section-1 .u-repeater-2 {
   min-height: 109px;
   grid-template-columns: 50% 50%;
   grid-gap: 0px 0px;
 }

 .u-section-1 .u-container-layout-4 {
   padding: 0 10px;
 }

 .u-section-1 .u-text-4 {
   margin: 0 auto;
 }

 .u-section-1 .u-btn-4 {
   background-image: none;
   padding: 0;
 }

 .u-section-1 .u-icon-5 {
   background-image: none;
   font-size: 2.3126em;
 }

 .u-section-1 .u-container-layout-5 {
   padding: 0 10px;
 }

 .u-section-1 .u-text-5 {
   margin: 0 auto;
 }

 .u-section-1 .u-btn-5 {
   background-image: none;
   padding: 0;
 }

 .u-section-1 .u-icon-7 {
   font-size: 2.3126em;
 }

 .u-section-1 .u-image-1 {
   width: 152px;
   height: 152px;
   margin: -188px auto 0 calc(((100% - 1140px) / 2) + -42px);
 }

 .u-section-1 .u-text-6 {
   font-weight: 700;
   margin: -109px 330px 0 calc(((100% - 1140px) / 2) + 299px);
 }

 .u-section-1 .u-text-7 {
   width: 424px;
   margin: 8px auto 0;
 }

 .u-section-1 .u-list-3 {
   width: calc(((100% - 1140px) / 2) + 50px);
   margin: 10px auto 60px 0;
 }

 .u-section-1 .u-repeater-3 {
   min-height: 216px;
   grid-template-columns: 100%;
   grid-gap: 0px 0px;
 }

 .u-section-1 .u-container-layout-6 {
   padding: 10px 0;
 }

 .u-section-1 .u-btn-6 {
   font-size: 1.25rem;
   margin: 0 -6px 0 10px;
   padding: 0;
 }

 .u-section-1 .u-container-layout-7 {
   padding: 10px 0;
 }

 .u-section-1 .u-btn-7 {
   font-size: 1.25rem;
   margin: 0 -6px 0 10px;
   padding: 0;
 }

 .u-section-1 .u-container-layout-8 {
   padding: 10px 0;
 }

 .u-section-1 .u-btn-8 {
   font-size: 1.25rem;
   margin: 0 -6px 0 10px;
   padding: 0;
 }

 .u-section-1 .u-container-layout-9 {
   padding: 10px 0;
 }

 .u-section-1 .u-btn-9 {
   font-size: 1.25rem;
   margin: 0 -6px 0 10px;
   padding: 0;
 }

 @media (max-width: 1199px) {
   .u-section-1 {
     min-height: 422px;
   }

   .u-section-1 .u-list-1 {
     width: calc(((100% - 940px) / 2) + 160px);
     margin-top: 0;
   }

   .u-section-1 .u-btn-3 {
     display: block;
   }

   .u-section-1 .u-list-2 {
     width: calc(((100% - 940px) / 2) + 137px);
     margin-top: 1px;
   }

   .u-section-1 .u-icon-7 {
     margin-top: -13px;
   }

   .u-section-1 .u-image-1 {
     margin-top: -205px;
     margin-left: 0;
   }

   .u-section-1 .u-text-6 {
     margin-top: -108px;
     margin-right: 272px;
     margin-left: calc(((100% - 940px) / 2) + 299px);
   }

   .u-section-1 .u-list-3 {
     width: calc(((100% - 940px) / 2) + 50px);
     margin-top: -43px;
     margin-bottom: 54px;
   }
 }

 @media (max-width: 991px) {
   .u-section-1 {
     min-height: 457px;
   }

   .u-section-1 .u-list-1 {
     width: 418px;
     margin-right: auto;
   }

   .u-section-1 .u-repeater-1 {
     min-height: 90px;
   }

   .u-section-1 .u-list-2 {
     width: 373px;
     margin-top: 0;
     margin-right: auto;
   }

   .u-section-1 .u-repeater-2 {
     min-height: 85px;
   }

   .u-section-1 .u-image-1 {
     margin-top: -340px;
   }

   .u-section-1 .u-text-6 {
     width: auto;
     margin-top: 80px;
     margin-left: auto;
     margin-right: auto;
   }

   .u-section-1 .u-text-7 {
     margin-top: 10px;
   }

   .u-section-1 .u-list-3 {
     width: calc(((100% - 720px) / 2) + 50px);
     margin-top: -356px;
     margin-bottom: 60px;
   }
 }

 @media (max-width: 767px) {
   .u-section-1 {
     min-height: 313px;
   }

   .u-section-1 .u-list-1 {
     width: 627px;
   }

   .u-section-1 .u-repeater-1 {
     min-height: 85px;
   }

   .u-section-1 .u-list-2 {
     margin-top: -7px;
   }

   .u-section-1 .u-text-6 {
     margin-top: 6px;
     margin-left: 40px;
     margin-right: 40px;
   }

   .u-section-1 .u-text-7 {
     margin-top: 24px;
     margin-bottom: 24px;
   }

   .u-section-1 .u-list-3 {
     width: calc(((100% - 540px) / 2) + 50px);
   }
 }

 @media (max-width: 575px) {
   .u-section-1 {
     min-height: 360px;
   }

   .u-section-1 .u-list-1 {
     width: 340px;
   }

   .u-section-1 .u-repeater-1 {
     min-height: 58px;
   }

   .u-section-1 .u-icon-1 {
     font-size: 1.3126em;
   }

   .u-section-1 .u-icon-2 {
     font-size: 1.3126em;
   }

   .u-section-1 .u-icon-4 {
     font-size: 1.3126em;
   }

   .u-section-1 .u-list-2 {
     width: 227px;
     margin-top: -9px;
   }

   .u-section-1 .u-icon-5 {
     font-size: 1.3126em;
   }

   .u-section-1 .u-icon-7 {
     font-size: 1.3126em;
   }

   .u-section-1 .u-image-1 {
     margin-top: 20px;
   }

   .u-section-1 .u-text-6 {
     margin-top: 39px;
     margin-right: auto;
     margin-left: calc(((100% - 340px) / 2) + -11px);
   }

   .u-section-1 .u-text-7 {
     width: 340px;
     margin-top: 0;
     margin-bottom: 60px;
   }

   .u-section-1 .u-list-3 {
     width: calc(((100% - 340px) / 2) + 50px);
   }
 }

 .u-section-2 .u-sheet-1 {
   min-height: 274px;
 }

 .u-section-2 .u-text-1 {
   margin: 15px 89px 0 18px;
 }

 .u-section-2 .u-btn-1 {
   border-style: none;
   font-weight: 700;
   text-transform: uppercase;
   font-size: 0.875rem;
   letter-spacing: 1px;
   margin: 80px 0 0 auto;
 }

 @media (max-width: 1199px) {
   .u-section-2 .u-sheet-1 {
     min-height: 307px;
   }

   .u-section-2 .u-text-1 {
     width: auto;
     margin-top: 0;
     margin-left: 0;
     margin-right: 0;
   }

   .u-section-2 .u-btn-1 {
     margin-top: 20px;
     margin-bottom: 60px;
   }
 }

 @media (max-width: 991px) {
   .u-section-2 .u-sheet-1 {
     min-height: 277px;
   }
 }

 @media (max-width: 767px) {
   .u-section-2 .u-btn-1 {
     margin-top: 80px;
     margin-bottom: 0;
   }
 }

 .u-section-3 .u-sheet-1 {
   min-height: 820px;
 }

 .u-section-3 .u-text-1 {
   margin: 22px 0 0;
 }

 .u-section-3 .u-icon-1 {
   width: 112px;
   height: 112px;
   margin: -782px 0 0 auto;
   padding: 11px;
 }

 .u-section-3 .u-text-2 {
   font-weight: 700;
   margin: -2px 0 60px 1028px;
 }

 @media (max-width: 1199px) {
   .u-section-3 .u-text-2 {
     margin-left: 828px;
   }
 }

 @media (max-width: 991px) {
   .u-section-3 .u-sheet-1 {
     min-height: 1068px;
   }

   .u-section-3 .u-icon-1 {
     margin-top: -1062px;
   }

   .u-section-3 .u-text-2 {
     width: auto;
     margin-left: 608px;
   }
 }

 @media (max-width: 767px) {
   .u-section-3 .u-text-2 {
     margin-left: 428px;
   }
 }

 @media (max-width: 575px) {
   .u-section-3 .u-text-2 {
     margin-left: 228px;
   }
 }

 .u-section-4 .u-sheet-1 {
   min-height: 1314px;
 }

 .u-section-4 .u-text-1 {
   margin: 10px 0 0;
 }

 .u-section-4 .u-btn-1 {
   border-style: none;
   font-weight: 700;
   text-transform: uppercase;
   font-size: 0.875rem;
   letter-spacing: 1px;
   margin: 17px 0 0 auto;
 }

 .popup {
   background-color: #ffffff;
   width: 420px;
   padding: 30px 40px;
   position: absolute;
   transform: translate(-50%, -50%);
   left: 50%;
   top: 50%;
   border-radius: 8px;
   display: none;
   font-family: "Poppins", sans-serif;
   text-align: center;
   box-sizing: border-box;


 }

 .center {
   margin-left: auto;
   margin-right: auto;
   border: 1px black;
 }